*{
	margin:  0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Sarabun', 'Open Sans', sans-serif, Incosolata;
}

/*Classes auxiliares: Classes que são utilizadas durante todo o projeto*/

	.container{
		max-width: 1288px;
		margin:  0 auto;
		padding: 0 2%;
	}

	.clear{clear: both;}

	.w50{
		width: 50%;
		float: left;
	}

	.w33{
		width: 33.33%;
		float: left;

	}

	.center{
		text-align: center;
	}



/*Classes do site*/



	/*Header*/

	header{
		padding: 8px 0;
	}


	.logo{
		float: left;
	}

	.logo img{
		width: 150px;
		height: 90px;
		position: absolute;
	}

	div.logo{
		margin-bottom: 90px;
	}

	

	nav.menu-mobile{
		display: none;
		float: right;
	}

	nav.menu-mobile h2{
		cursor: pointer;
	}

	nav.menu-mobile ul{
		 display: none;
		 width: 100%;
		 background: white;
		 position: absolute;
		 left: 0;
		 top:  100px;
		 z-index: 999;
		 text-align: center;
	}

	nav.menu-mobile li{
		padding: 8px 0;
		border-bottom: 1px dotted #00BFFF;	
	}

	nav.menu-mobile li.selecionado{
		background: #04B4AE;
	}


	nav.menu-mobile a{
		display: block;
		color: #08298A;
		text-decoration: none;
	}

	

	nav.menu-desktop{
		float: right;
	}


	nav.menu-desktop ul{
		position: relative;
		top: 8px;
	}


	nav.menu-desktop li{
		padding: 0 10px;
		padding-top: 45px;
		padding-bottom: 15px;
		font-weight: lighter;
		display: inline-block;
	}

	nav.menu-desktop li.selecionado a{
		font-weight: bold;
	}

	nav.menu-desktop a{
		color: #608787;
		text-decoration: none;
	}

	nav.menu-desktop a:hover{
		background: #2FFFEA;
		color: #120a89;
		border-radius: 5% 35% 5% 25% ;
	}
	



	/*banner*/

		section.main-bg{
			position: relative;
			width: 100%;
			padding: 100px 0;
			background-image: url('../imagens/banner.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			text-align: center;

		}


		section.main-bg > .container{
			position: relative;
			z-index: 2;
		}

		.overlay{
			z-index: 1;
			position: absolute;
			width:  100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.5);
			left: 0;
			top: 0;
		}


		section.main-bg h2{
			color: #2FFFEA;
			font-size: 45px;
			font-weight: normal;
		}
		
		section.main-bg p{
			color: white;
			font-size: 20px;
			margin: 30px 150px;
			text-align: left;
		}


		section.diferenciais{
			padding: 30px 0;
			text-align: center;
		}

		.line-text{
			position: relative;
			display: inline-block;
			color: #52aaa7;
		}

	/*	.line-text div{
			position: absolute;
			left: 0;
			top: 0;
			width: 75px;
			height: 3px;
			background-color: #52aaa7;
		}
		Efeito linha acima do texto
	*/
		.line-text h2{
			font-weight: normal;
			font-size: 35px;
		}

		.icones-diferenciais{
			margin-top: 30px;

		}

		.box-icones-single{
			float: left;
			width: 33.3%
		}


		.box-icones-single h2{
			color: #52aaa7;
			font-size: 35px;
		}
	

		.box-icones-single p{
			color: #646464;
			font-weight: lighter;
			font-size: 18px;
			margin-bottom: 20px; 
			padding: 0 10px; 

			/*No exemplo da aula, o padding e margin-bottom é aplicado na 
			classe .box-icones-single, isso "desabilitava" o width: 33.3%, ao aplicar aqui,
			o efeito foi o mesmo, sem alterar o width. */
		}

	section.sobre-equipe{
		padding: 30px 0;
		background: #D4E1E0;
	}

	section.sobre-equipe > .container{
		display: flex;
		flex-wrap: wrap;
	}

	.box-equipe{
		margin-top: 15px;
	}

	.equipe{
		width: 50%;
	}

	.foto{
		display: inline-block;
		width: 70px;
		height: 70px;
		border-radius: 50%;
		background-size: 100% 100%;
		position: relative;
	}

	.descricao-foto{
		display: inline-block;
		position: absolute;
		padding: 0 5px;
		margin-top: 10px;
		
	}

	.descricao-foto h3{
		color: rgb(30, 30, 30);
		font-weight: normal;
		font-style: italic;
	}

	.descricao-foto p{
		color: rgb(30, 30, 30);
		font-weight: lighter;
	}


	.sobre{
		width: 50%;
	}

	.sobre p{
		color: black;
		font-size: 16px;
		margin-top: 20px;
	}

	section.inscricao{
		background: #43958D;
		padding: 20px 0;
	}

	h2.inscricao-text{
		font-weight: normal;
		color: white;
		display: inline-block;
	}
		

	.inscricao-form input[type=text]{
		width: calc(100% - 300px);
		height: 40px;
		background: white;
		border: 1px solid #ccc;
		display: inline-block;
	}

	.inscricao-form input[type=submit]{
		width: 120px;
		height: 40px;
		background: #587571; 
		cursor: pointer;
		border: 0;
		color: white;
		font-weight: normal;
		display: inline-block;
	}

	section.cards{
		padding: 30px 0;
	}

	.card-single{
		width: 33.3%;
		float:left;
		margin: 10px 0;
		padding: 50px;
	}

	.card-single img{
		width: 100%;
		height: 250px;
	}

	.card-single h3{
		margin-top: 5px;
		font-weight: normal;
		font-size: 19px;
	}


	.card-single p{
		font-weight: lighter;
		font-size: 16px;
		padding-bottom: 20px;
		border-bottom: 2px solid #ccc;
	}


	footer.footer1{
		background: #43958D;
		padding: 20px 0;
		color: white;
	}

	footer.footer1 h2{
		font-weight: normal;
		font-size: 23px;
	}

	footer.footer1 p{
		margin-top: 8px;
		font-weight: lighter;

	}

	footer.footer1 a{
		display: block;
		color: white;
		text-decoration: none;
	}

	div.group-icons a{
		display: inline-block;
		margin: 5px 10px;
		font-size: 25px;
	}

	div.group-icons p{
		display: inline-block;
		font-size: 15px;
	}



	footer.footer2{
		color: white;
		background: #587571;
		padding: 15px 0;
	}

	.fonte{
		font-family: Incosolata;
		font-size: 12px;
		text-decoration: none;
		color: #333;
		font-weight: normal;
	}

	section.title-page{
		position: relative;
		padding: 30px;
		width: 100%;
		min-height: 180px;
		background: cover; /*Cover: cobrir tudo*/
		background-position: center;
		background-repeat: no-repeat; //*Geralmente ao add o cover não é necessário. Boas Praticas*/
	}

	.overlay__title-page{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.7);
	}

	section.title-page > .container{
		position: relative;
		z-index: 101;
	}

	section.title-page h2{
		color: #2FFFEA;
		font-size: 35px;
		font-weight: normal;
		margin-top: 10px;
	}

	/* Sobre */

	section.title-page p{
		color: white;
		font-weight: lighter;
		font-size: 18px;
		margin-top: 15px;
	}

	section.sobre__descricao{
		padding: 30px 0;
	}

	.sobre__single__descricao img{
		max-width: 100%;
		width: 50%;
		float: left;
	}

	.sobre__single__descricao p{
		float: left;
		width: 50%;
		padding: 15px 20px;
		font-size: 16px;
		font-weight: lighter;
		line-height: 28px;
	}

	div.p__abaixo{
		margin-top: 15px;
	}

	div.p__abaixo p{
		margin-top: 10px;
		width: 100%;
		padding: 0;
		font-weight: lighter;
	}

	/*Efeito Parallax - Página sobre*/

	section.parallax{
		padding: 30px 0;
		width: 100%;
		min-height: 200px;
		background-image: url('../imagens/water.jpg');
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		text-align: center;
	}


	section.parallax h2{
		border: 1px solid #2FFFEA;
		padding: 5px 40px;
		color: #2FFFEA;
		font-size: 25px;
		display: inline-block;	
	}



	section.parallax p{
		color: white;
		font-size: 20px;
		margin-top: 10px;
		font-weight: lighter;
	}


	section.equipe-sobre{
		padding: 40px 0;
	}


	.equipe-circles{
		margin-top: 20px;
		display: flex;
		flex-wrap: wrap;
	}

	.equipe-circles-single{
		text-align: center;
		padding: 0 50px;
		width: 33.33%
	}

	.equipe-circles-single h3{
		margin-top: 8px;
		font-size: 20px;
		font-weight: normal;
	}

	.equipe-circles-single h3{
		font-weight: lighter;
	}

	.avatar-single{
		position: relative;
		width: 60%;
		padding-top: 60%;
		margin: 0 auto;
	}

	.avatar-single-container{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		border-radius: 50%;
		background-color: cyan;
		background-size: 100% 100%;
	}

	section.sobre__final{
		background-color: #E5F0F1;
		border-top: solid 1px  #9FC9C5;
		padding: 20px 0;
	}

	section.sobre__final p{
		margin-top: 10px;
		font-size: 17px;
		font-weight: lighter;
		line-height: 30px;

	}

	.card-title{
		width: 80%;
		margin-top: 10px;
		position: relative;
	}

	.card-title img{
		max-width: 100%;
	}

	.card-title h3{
		position: absolute;
		right: 10px;
		bottom: 10px;
		color: white;
		font-size: 20px;
		font-weight: normal;
	}
	

	/* Mobile */
	@media screen and (max-width: 768px){
		
		nav.menu-mobile{display: block;}
		nav.menu-desktop{display: none;}


		.box-icones-single{width: 100%;}

		section.main-bg p{font-size: 17px; margin: 30px 25px; text-align: center;}
		
		.equipe{width: 100%;}
		.sobre {width: 100%; margin-top: 60px;}
		
		.w50{width: 100%; margin-bottom: 20px;}
		form.inscricao-form input[type=text]{display: block; width: 100%;}
		form.inscricao-form input[type=submit]{display: block;}
		
		.w33   {width: 100%; margin-bottom: 20px;}
		.card-single{width: 100%; padding: 10px;}

		.sobre__single__descricao img {width: 100%;}
		.sobre__single__descricao p {width: 100%;}
		div.p__abaixo p {padding: 10px 20px;}

		
		.equipe-circles-single{
		margin-bottom: 15px;
		padding: 10px 0;
		width: 100%
		}
		
 
	} 


	